@model DataAccessLayer.Category
<style>
    body {
        background-color: white;
    }

    .navbar-nav.flex-grow-1 {
        display: none;
    }

    #right-nav {
        display: block;
    }

    #cust-dash {
        display: none;
    }
</style>

<!DOCTYPE html>
<html lang="en">

<body>

    <h2>Add Category</h2>

    @using (Html.BeginForm("AddCategory", "Admin", FormMethod.Post))
    {
        @Html.ValidationSummary(true)

        <div>
            <label for="Category">Category Name:</label>
            @Html.TextBoxFor(model => model.CategoryName)
            @Html.ValidationMessageFor(model => model.CategoryName)
        </div>


        <div>
            <input type="submit" value="Submit" />
        </div>
    }
</body>
</html>