
@{
    ViewBag.Title = "Categories";
}

﻿@model List<DataAccessLayer.Category>
<style>
    h2 {
        color: black;
    }

    body {
        background-color: #fff;
    }

    .navbar-nav.flex-grow-1 {
        display: none;
    }

    #right-nav {
        display: block;
    }

    #admin-dash {
        display: none;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #56020296;
        color: white;
    }

    td {
        background-color: #ddbbbb;
    }
</style>

<h2>List of Categories</h2>

<table>
    <tr>
        <th>Category ID</th>
        <th>Category Name</th>

    </tr>
    @foreach (var category in Model)
    {
        <tr>
            <td>@category.CategoryId</td>
            <td>@category.CategoryName</td>
        </tr>
    }
</table>
