<style>
    .navbar-nav.flex-grow-1 {
        display: none;
    }

    #right-nav {
        display: block;
    }

    #cust-dash {
        display: none;
    }
    img{
        display:block;
        margin:auto;
        width:50%
    }
</style>
<h2>Policy Added Successfully</h2>

<p>Thank you for adding a new policy. You can view the details on the <a href="@Url.Action("ShowAllPolicy", "Policy")">policies page</a>.</p>
<div>
    <img src="~/Content/ezgif.com-cut.gif" />
</div>





