<style>
    .navbar-nav.flex-grow-1 {
        display: none;
    }

    #right-nav {
        display: block;
    }

    #cust-dash {
        display: none;
    }
    img{
        width:100%;
    }
</style>
<h2>Policy Added Successfully</h2>

<p>Thank you for adding a new policy. You can view the details on the <a href="@Url.Action("ShowAllPolicy", "Policy")">policies page</a>.</p>
<div class="col-md-5 mx-auto mt-5">
    <img  src="https://media.tenor.com/7GyHsInT8uoAAAAM/naruto.gif"/>
</div>





